@mixin informationStyling ($color) {
    padding: 15px;
    border-radius: 10px;
    background-color: $color;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}